<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'/ > 
  <link rel="stylesheet"  type="text/css" href="/styles/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
<head>
	<title>EliezerWohl.com</title>
</head>
<body>
  <nav class="elieNav navbar nav  navbar-default topNav navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a  id="homeButton" class="navbar-brand brandHide" href="#home">EliezerWohl.com</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      	<ul class="nav navbar-nav navbar-right">
          <li ><a id="myStoryButton" href="#myStory">About Me</a></li>
          <li ><a id="portfolioButton" href="#portLink">My Work</a></li>
          <li ><a id="sideProjectsButton" href="#sideProjects">Side Projects</a></li>
    <!--       <li ><a   id="musicButton" href="#music">Music</a></li> -->
          <li ><a  id="socialButton" href="#social">Social</a></li>
          <li  ><a id="contactButton" target="_blank" href="mailto:eliezerwohl@gmail.com">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div id="home" class="welcomeBackground">
    <div class="welcomeDiv">
       <div class="text-center">
        <h1 >Eliezer Wohl</h1>
        <h1 class="subHeadline"> Web Developer </h1>
       
      </div>
    </div>
  </div>
<!--   tools used side projects  social contact -->
  <div id="main">
	  <div id="myStory" class="container">
	    <div  class="text-center bannerBackground banner col-md-12">
	      <h2 class="white"> About Me</h2>
	    </div>
	    <div class="contentContainer col-md-8 col-md-offset-2">
	      <p>I’ve been working on websites for many years,  since the days of Homestead, Xanga,  and GeoCities.  
	      	I’ve always had a desire to do more with this hobby. </p>
	      	<br>
	      	<p>
	      In 2015, I saw an ad for a Rutgers Coding Bootcamp, and I was immediately intrigued. I was impressed by the JavaScript based full stack curriculum.
	      Ever since I stepped into the first class,  I’ve been hooked. I’ve been coding and improving my skills every day.</p>
	      <br>
	      <p>Since finishing the course, I've been working as a freelance Web Developer. I do everything from setting up hosting, to building websites from scratch, to troubleshooting issues. I work with clients to help achieve their online vision, and do contract work for companies to resolve WordPress or JavaScript related issues. </p>
	    </div>
	  </div>

	  <div id="portfolio" class="container">
	  	<div id="portLink" class="bannerBackground banner col-md-12">
	  		<h2 class="white">My Work</h2>
	  	</div>
	  	<div class="col-md-12 workDiv">
	  		<div class="col-md-6">
	  			<img src="/img/esllc.png" class="img-responsive">
	  		</div>
	  		<div class="col-md-6">
	  			<h2>Eisenstein-Sirot Group</h2>
	  			<a href="http://esfgllc.com/"><p>http://esfgllc.com/</p></a>
	  			<h4> "Working with Elie was a great experience.  The website was done on time, and on budget.  While interviewing employees, the website is often the first thing that they mention." Gianna F. </h4>
	  		</div>
	  	</div>
	  	<div class="col-md-12 workDiv">
	  	<div class="col-md-6 visible-xs visible-sm">
	  			<img src="/img/library.png" class="img-responsive">
	  		</div>
	  		<div class="col-md-6">
	  			<h2>BCLS</h2>
	  			<a href="http://www2.bclsf.org/"><p>http://www2.bclsf.org/</p></a>
	  			<h4>""As a designer I was looking for a collaborator, not a one stop coder to work on a client project with me. Elie is incredibly skilled with Wordpress and can whip up javascript fixes for data issues and effects. He also can talk through a problem in plain language and explain how his code works. That skill made the whole experience pleasant and we delivered a product the client loves. Thanks Elie!" Victoria K. </h4>
	  		</div>
	  		<div class="col-md-6 visible-lg visible-md">
	  			<img src="/img/library.png" class="img-responsive">
	  		</div>
	  	</div>
	  	<div class="col-md-12 workDiv">
	  		<div class="col-md-6">
	  			<img src="/img/hands.png" class="img-responsive">
	  		</div>
	  		<div class="col-md-6">
	  			<h2> Assisting Hands </h2>
					<p>&nbsp;</p>
	  			<h4>"I've worked with Elie for a few years.  He's alway been responsive to my calls and emails, willing to do whatever it takes to get the job done.  He is a major asset to my business." David K. </h4>
	  		</div>
	  	</div>
	  	<div class="col-md-12">
	  		<div class="col-md-12">
		  	<div class="pitch">
		  	<p>Like what you see?  Want to see more?  So impressed that you want to hire me for your next project?</p>
		  	<p>  Why not <a target="_blank" href="mailto:eliezerwohl@gmail.com">contact me for more info?</a></p>
		  	</div>
		  </div>

	  </div>
	  </div>
	  <div id="sideProjects" class="container">
	    <div  class="banner text-center storyHeader col-md-12">
	      <h2 class="white"> Side Projects</h2>
	    </div> 
	  	 <div class="contentContainer col-md-8 col-md-offset-2">
	  			<div class="portSection">
	  				<div class="row">
	  					<h2 class="pull-left" style="margin-top: 0px">matched connections</h2>
	  				</div>
	  				<p>My dating website/missed connection improvement/reddit substitute/chat app.  A user can sign up, and match other people together for internet points.  They can also fill out their own profiles, to be matched by other people. Frontend:JavaScript/CSS3/jQuery. Backend: Socket.IO, Express/Handlebars.js</p>
	  				<div class="row">
	  					<a target ="_blank" href="http://matchedconnections.herokuapp.com/">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">Deployed </button>
	  					</a>
	  					<a target ="_blank" href="https://github.com/eliezerwohl/matchproject">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">GitHub </button>
	  					</a>
	  				</div>
	  			</div>
	  			<div class="portSection">
	  				<div class="row">
	  					<h2 class="pull-left">liberty vice</h2>
	  				</div>
	  				<p>Website commisioned for local band. I was responsible for the full-stack development, with an emphasis on front end presentation and mobile responsiveness. Frontend:JavaScript/CSS3/jQuery. Backend: Express/Handlebars.js</p>
	  				<div class="row">
	  					<a target ="_blank" href="https://libertyvice.herokuapp.com/">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">Deployed </button>
	  					</a>
	  					<a target ="_blank" href="https://github.com/eliezerwohl/frontEndProject">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">GitHub </button>
	  					</a>
	  				</div>
	  			</div>
	  			<div class="portSection">
	  				<div class="row">
	  					<h2 class="pull-left">Heroku Caffeine</h2>
	  				</div>
	  				<p>A program I wrote for my phone that prevents my Heroku sites from going to "sleep".  Can be set to run and keep the sites up for a period  of time, or it can wake all the sites up at once for presentation purposes.   Developed using Android Studio and Java.</p>
	  				<div class="row">
	  					<a href="/download/herokucaffeine.apk" download>
	  						<button class="pull-right col-sm-2 col-xs-4 btn">Download</button>
	  					</a>
	  					<a target ="_blank" href="https://github.com/eliezerwohl/herokucaffeine">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">GitHub </button>
	  					</a>
	  				</div>
	  			</div>
	  			<div class="portSection">
	  				<div class="row">
	  					<h2 class="pull-left">king of dice</h2>
	  				</div>
	  				<p>A companion app to the King Of New York board game.  I also developed a version for android with motion controls and an option to roll normal dice.</p>
	  				<div class="row">
	  					<h5 class="col-sm-offset-8 col-xs-offset-5">Android</h5>
	  				</div>
	  				<div class="row">
	  					<a href="/download/app-release.apk" download>
	  						<button class="pull-right col-sm-2 col-xs-4 btn">Download</button>
	  					</a>
	  					<a target ="_blank" href="https://github.com/eliezerwohl/kingofdicejava">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">GitHub </button>
	  					</a>
	  				</div>
	  				<div class="row">
	  					<h5 class="col-sm-offset-8 col-xs-offset-5">Web</h5>
	  				</div>
	  				<div class="row">
	  					<a target ="_blank" href="https://kingofdice.herokuapp.com/">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">Deployed </button>
	  					</a>
	  					<a target ="_blank" href="https://github.com/eliezerwohl/kingofdice">
	  						<button class="pull-right col-sm-2 col-xs-4 btn">GitHub </button>
	  					</a>
	  				</div>
	  			</div>
	  	</div>
	  </div>
	  <div id="social" class=" container text-center">
			<div  class="banner bannerBackground col-md-12">
				<h2 class="white">Social </h2>
			</div>
			<div class="contentContainer col-md-12">
			<a target="_blank" href="mailto:eliezerwohl@gmail.com">
					<div class="linkContainer col-xs-12  col-sm-6">
						<div class="image-holder col-md-12">
							<img alt="stackoverflow logo" class="png" src="/img/gmail.png">
						</div>
						<div class="col-md-12">
							<h2>E-Mail</h2>
						</div>
					</div>
				</a>
				<a target="_blank" href="https://github.com/eliezerwohl">
					<div class="col-xs-12  col-sm-6 linkContainer ">
						<div class="image-holder col-md-12">
							<img alt="github logo" class="png" src="/img/github.png">
						</div>
						<div class="col-md-12">
							<h2>Github</h2>
						</div>
					</div>
				</a>
				<a target="_blank" href="https://www.linkedin.com/in/eliezerwohl">
					<div class="linkContainer col-xs-12  col-sm-6">
						<div class="image-holder col-md-12">
							<img alt="linkedin logo" class="png" src="/img/linkedin.png">
						</div>
						<div class="col-md-12">
							<h2>Linkedin</h2>
						</div>
					</div>
				</a>
				<a target="_blank" href="http://stackoverflow.com/users/5510690/eliezer-wohl">
					<div class="linkContainer col-xs-12  col-sm-6">
						<div class="image-holder col-md-12">
							<img alt="stackoverflow logo" class="png" src="/img/stackoverflow.png">
						</div>
						<div class="col-md-12">
							<h2>Stack Overflow</h2>
						</div>
					</div>
				</a>
			</div>
		</div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/javascript.js"></script>
  <script async>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-89509773-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>
