<!DOCTYPE html>
<html>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
<head>
	<title></title>
</head>
<body>


  <div class="welcomeBackground">
    <div class="elieNav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>

       <a class="navbar-brand eliezerButton" href="#" > Eliezer Wohl</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li id="myStory"><a href="#">My Story</a></li>
          <li id="webCoding"><a href="#">Web Coding</a></li>
          <li id="personalTraining"><a href="#">Personal Training</a></li>
          <li id="music"><a href="#">Music</a></li>
        </ul>
      </div>
    </div> 
  </div> 
  <div class="welcomeDiv">
     <div class="text-center">
  <h1>Eliezerwohl.com</h1>
  <h3>  home of web developer</h3>

  <h3>  android enthusiast</h3>
  <h3>  and  musician</h3>
  </div>

  </div>
 
  <div class="div2">

  <h3>
  	lorum ipsum scroll buttons scroll buttons one two one two....
  </h3>
   <h3>
  	lorum ipsum scroll buttons scroll buttons one two one two....
  </h3>
   <h3>
  	lorum ipsum scroll buttons scroll buttons one two one two....
  </h3>
   <h3>
  	lorum ipsum scroll buttons scroll buttons one two one two....
  </h3>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="javascript/javascript.js"></script>

</body>
</html>
