.welcomeBackground {
      background: url(../img/blueblur2.jpeg) no-repeat center center fixed; 
}



.elieNav{ 
		background: none;
}


body{
	color:none;
}

.elieNav, .navbar-header{
	height:70px;
}
ul li {
	font-size: 18px;
}

ul li, ul li:hover, .active{
	border-radius: 10px;
}

 .navbar-nav, .navbar-header {
 	margin-top: 10px
 }
.navbar-brand{
	font-size: 40px;
	border-bottom: 

}

.welcomeText { 
  justify-content: center;
  align-items: center;
}
.welcomeDiv {
	height: 100%;
	width: 100%;
	padding-top: 100px;
}

.banner h2 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 40px;
  font-weight: 600;
  float:none;
  margin:0 auto;
  color:#d4ebed;
}

.portfolioBanner h2 {
	padding-top: 0px
}

.storyHeader {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url("../img/code.jpg");
  background-size: cover;
  min-height: 250px;
  margin-bottom: 40px;
}
.storyHeader h2 {
  font-size: 100px;
  margin-top: 0px;
}

.storyHeader h3 {
	color:#6093b0
}



ul li:hover{
	background-color: lightgray;
}


.story .storyContainer {
  margin-top: 10px;

}
.story .storyContainer p {
  font-size: 22px;
}

.portfolioBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url("../img/galaxy.jpg");
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
}

#portfolio .portSection {
  border-bottom: 1px rgb(221, 221, 221) solid
}

#portfolio .panel-body h4 {
  text-transform: uppercase;
}

#portfolio p {
	font-size: 18px;
}

