.welcomeBackground {
      background: url(../img/blueblur2.jpeg) no-repeat center center fixed; 
}



.elieNav{ 
		background: none;
}


body{
	color:none;
}

.elieNav, .navbar-header{
	height:70px;
}
ul li {
	font-size: 18px;
}

ul li, ul li:hover, .active{
	border-radius: 10px;
}

 .navbar-nav, .navbar-header {
 	margin-top: 10px
 }
.navbar-brand{
	font-size: 40px;
	border-bottom: 

}

.welcomeText { 
  justify-content: center;
  align-items: center;
}
.welcomeDiv {
	height: 100%;
	width: 100%;
	padding-top: 100px;
}

.banner h2 {
  font-size: 100px;
  margin-top: 0px;
  padding-top: 40px;
  font-weight: 600;
  float:none;
  margin:0 auto;
  color:#d4ebed;
}

.portfolioBanner h2, .musicBanner h2, .linksBanner h2{
	padding-top: 0px
}

.storyHeader {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/blueGalaxyBlur.jpeg");
  background-size: cover;
  min-height: 250px;
}
.storyHeader h2 {
  font-size: 100px;
  margin-top: 0px;
}

.storyHeader h3 {
	color:#6093b0
}



ul li:hover{
	background-color: lightgray;
}


.story .storyContainer {
  margin-top: 10px;

}
.story .storyContainer p {
  font-size: 22px;
}

.contentContainer {
	margin-bottom: 40px;
}

.portfolioBanner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/blueGalaxyBlur.jpeg");
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
}

#portfolio .portSection {
  border-bottom: 1px rgb(221, 221, 221) solid
}

#portfolio .panel-body h4 {
  text-transform: uppercase;
}

#portfolio p {
	font-size: 18px;
}

.musicBanner {
  background-image: linear-gradient(  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/blueGalaxyBlur.jpeg");
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
}

.music .musicContainer {
  margin-top: 40px;
}

.music .description p { 
  color:#555555;
  font-size: 1.5em;
  padding:0px 0px;
}

.music .musicHolder {
  background-color: #eeeeee;
}

.music .musicHolder iframe {
  margin:10px 0px;
}

.linksBanner {
  background-image: linear-gradient(  rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/blueGalaxyBlur.jpeg");
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.main .contentContainer {
	margin-bottom: 20px;
	padding-top: 20px;
}

.main .col-md-12, .main .container{
	width: 100%;
	padding-right:0px;
	padding-left: 0px;
}
